cycler==0.12.1
fonttools==4.54.1
kiwisolver==1.4.7
matplotlib==3.5.0
numpy==1.24.4
packaging==24.1
pandas==2.0.3
pillow==10.4.0
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2024.2
setuptools-scm==8.1.0
six==1.16.0
tomli==2.0.2
typing-extensions==4.12.2
tzdata==2024.2
