button.main-btn {
	margin-top: 8px;
	width: 10em;
	position: relative;
	height: 3.5em;
	min-height: 3.5em;
	border: 3px ridge #149cea;
	outline: none;
	background-color: transparent;
	color: white;
	transition: 1s;
	border-radius: 0.3em;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	
}

/* button.main-btn::after {
	content: "";
	position: absolute;
	top: -10px;
	left: 3%;
	width: 95%;
	height: 40%;
	background-color: #2d435c;
	transition: 0.5s;
	transform-origin: center;
}

button.main-btn::before {
	content: "";
	transform-origin: center;
	position: absolute;
	top: 80%;
	left: 3%;
	width: 95%;
	height: 40%;
	background-color: #2d435c;
	transition: 0.5s;
} */

/* button.main-btn:hover::before,
button:hover::after {
	transform: scale(0);
} */

button.main-btn:hover {
	box-shadow: inset 0px 0px 25px #1479ea;
}